* {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 600px;
  min-width: 500px;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  height: 100%;
  line-height: 1.5;
  margin: 0;
}

body::before {
  background-color: #ff99b9;
  background-image: radial-gradient(
      at 59% 78%,
      hsla(89, 73%, 78%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 6% 1%, hsla(163, 92%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 66% 71%, hsla(118, 70%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 41% 23%, hsla(196, 80%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 84% 93%, hsla(105, 93%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 1% 12%, hsla(228, 70%, 64%, 1) 0px, transparent 50%);
  bottom: 0;
  content: "";
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

body::selection,
body ::selection {
  background-color: #f44336;
  color: #fcebcd;
}

body::-moz-selection,
body ::-moz-selection {
  background-color: #f44336;
  color: #fcebcd;
}

body :focus {
  outline-color: #f44336;
}

body :focus:not(:focus-visible) {
  outline-color: transparent;
}

body :focus-visible {
  outline-color: #f44336;
}

button {
  align-items: center;
  appearance: button;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  outline: 3px solid transparent;
  padding: 0;
  transition: all 190ms ease;
  -moz-appearance: button;
  -webkit-appearance: button;
}

@font-face {
  font-display: swap;
  font-family: "FZZH-TTDMJW";
  src: url("/fonts/FZZH-TTDMJW.ttf");
}

.title {
  font-family: "FZZH-TTDMJW", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  font-size: 80px;
  font-weight: 400;
  margin-bottom: 32px;
  margin-top: 64px;
  text-align: center;
}

.search-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  position: relative;
  width: 68%;
}

.search-icon {
  font-size: 24px;
  left: 16px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 24px;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  height: 48px;
  line-height: inherit;
  outline: none;
  padding: 0 48px;
  width: 100%;
}

.search-clear {
  font-size: 24px;
  opacity: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.group {
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  max-width: 1232px;
  padding-left: 16px;
  padding-right: 16px;
}

.group:last-of-type {
  padding-bottom: 64px;
}

.group-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 24px;
  margin-top: 0;
}

.group-grid {
  display: grid;
  gap: 24px 8px;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.bookmark {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 4px;
  outline: 3px solid transparent;
  text-decoration: none;
  transition: all 190ms ease;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.bookmark-background {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 60px;
}

.bookmark-icon {
  height: 40px;
  object-fit: contain;
  width: 40px;
}

.bookmark-iconify {
  font-size: 40px;
}

.bookmark-icon-text {
  font-size: 32px;
  max-height: 100%;
  overflow: hidden;
  text-align: center;
  width: 100%;
  word-break: break-all;
}

.bookmark-name {
  font-size: 12px;
  text-align: center;
}

.text-shadow {
  text-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

#loader {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.loader {
  animation: rotation 1s linear infinite;
  border: 4px solid #f44336;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  height: 48px;
  width: 48px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 40px;
  }

  .search-icon {
    left: 12px;
  }

  .search {
    height: 40px;
    padding: 0 40px;
  }

  .search-clear {
    right: 12px;
  }

  .group-grid {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
}

@media not screen and (hover: none) and (pointer: coarse) {
  html {
    overflow: auto;
  }

  body {
    overflow: auto;
    scrollbar-color: rgba(0, 0, 0, 0.33) transparent;
    scrollbar-gutter: stable both-edges;
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 4px;
  }
}
